<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
</style>

<div>
  <img [src]="user.photo" [alt]="user.name" />
  <p>Nom: {{ user.name }}</p>
  <p>Prénom: {{ user.firstName }}</p>
  <p>Citation: {{ user.quote }}</p>
  <input type="text" [(ngModel)]="user.quote" />
  <button (click)="showAge()">Afficher/Masquer mon âge</button>
  <p [hidden]="!hiddenAge">Age: {{ user.age }}</p>
</div>

<h1 [ngClass]="{ classIsAdmin: isAdmin }">{{ title }}</h1>
<button (click)="changeAdmin()">view</button>
<button *ngIf="isAdmin">Edit</button>
